Implementation/Backend/JavaBackend/target/classes/application.properties
#remove all .class files
Implementation/Backend/JavaBackend/target/classes/**/*.class
Implementation/Backend/JavaBackend/target/classes/com/whenly/*/*.class
Implementation/Backend/JavaBackend/target/classes/com/whenly/repository/ConstraintRepository.class
Implementation/Backend/JavaBackend/target/classes/com/whenly/service/ConstraintService.class
Implementation/Backend/JavaBackend/target/classes/com/whenly/service/ErlangBackendAPI.class
Implementation/Backend/JavaBackend/target/classes/com/whenly/service/EventService.class

.idea

Idea/
Slides/Test.md