{erl_opts, [debug_info]}.
{deps, [
    jsx
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [event_server]}
]}.

{relx, [
  {release, {event_server, "0.1.0"}, [event_server, sasl, mnesia, jsx]}, %% list your applications here
  {dev_mode, false},
  {include_erts, true},    %% includes the Erlang runtime system in the release
  {vm_args, "rel/vm.args"} %% optional: specify custom VM arguments
]}.